
    <div class="px-4 sm:px-8 max-w-5xl m-auto">
        <h1 class="text-center font-semibold">NASA's Photojournal of Earth</h1>
        

        <p class="mt-2 text-center text-xs mb-4 text-gray-500"><a href="https://photojournal.jpl.nasa.gov/targetFamily/Earth">Link to font page</a></p>
        
        <h1 class="text-center font-semibold">Filter by your favourite mission</h1>
        <ul class="border border-gray-200 rounded overflow-hidden shadow-md">
            <% @mission_list.each do |mission| %>
                <li class="px-4 py-2 bg-white hover:bg-sky-100 hover:text-sky-900 border-b last:border-none border-gray-200 transition-all duration-300 ease-in-out"><%= link_to mission.mission, mission.mission %></li>
            <% end %>
        </ul><br/>

        <h1 class="text-center font-semibold">Posts</h1>
        <ul class="border border-gray-200 rounded overflow-hidden shadow-md">
            <% @all_posts.each do |post| %>
                <li class="px-4 py-2 bg-white hover:bg-sky-100 hover:text-sky-900 border-b last:border-none border-gray-200 transition-all duration-300 ease-in-out"><%= link_to post.title, post %></li>
            <% end %>
        </ul>
    </div>